@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');  


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  font-family: 'Graduate', serif !important;
}

.home{
  width: 100%;
}

#required{
  font-size: 12px;
}
.hero{
  margin-top: 30px;
  background-image: url(https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/136156/Fans_clapping.jpg);
  height: 100vh;
  width: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  color: yellow;
  text-align: center;
}

.selectForm{
  margin-left: 3px !important;
  margin-top: 3px !important;
  margin-bottom: 8px !important ;
}

#formH1{
  color:yellow;
}
p {
  color: #409662;
  text-align: center;
}

h3{
  color: #409662;
}

ul{
  list-style: none;
  text-align: left;
}
span {
  color: yellow;
  text-align: center;
  margin-left: 25px;
}
.nav {
  max-width: 1320px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100vh !important;
    
    .nav-item{
      width: 160px;
      text-align: center;
    
      .nav-link {
        color: #898989;;
        font-weight: 600;
        &:hover, &.active {
          background-color: #898989 !important;
          color: #000;
          font-weight: 600;
        }
      }
    }
}

.card-body{
  margin-bottom: 15px;
}

.container {
  width: 100vh;
  margin: 0 auto;
}

a:-webkit-any-link  {
    color: yellow;
    margin-bottom: 5px;
    text-decoration: none;
}
.editItem {
  margin-bottom: 4px;
}



.filters {
  display: flex;
  width: 100vh !important;
  margin: 0 auto;
  justify-content: space-evenly;
}

select{
  height:20px;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.form-page {  
  form {
    margin-top: 40px;
    background-color: #409662;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    h1{
      color:black;
    }
    
    .error{
      color:rgb(67, 7, 7);
    }
    label{
      display: block;
      margin-left: 4px;
      padding-bottom: 5px;
    }
    input, textarea {
      width: 100%;
      margin-bottom: 15px;
      background-color: black;
      border: 1px solid rgba(0,0,0,0.2);
      padding: 5px;
      border-radius: 10px;
      color: grey;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px black inset;
      -webkit-text-fill-color: grey;
    }
    
    .form-page > form > p {
      color: black;
      text-align: center;
    }
    

    .btn {
      background-color: yellow;
      color: black;
      border-radius: 10px;
      font-weight: bold;
      width: 100px;
      height:30px;
      margin-top: 10px;
      font-family: 'Graduate', serif !important;
    }

    .notes{
      margin-top: 10px;
    }
    

    button:enabled:active {
      background-color: #51BED3;;
      box-shadow: 0 0 2px darkslategray;
      transform: translateY(px);
    }

    .submitbtn {
      background-color: grey;
      color: black;
      font-weight: bold;
      width: 100px;
      margin: 0 auto;
      margin-top: 10px;
      border-radius: 4px;
      border: none;
    }

    #login, #register{
      color: yellow;
    }




* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  font-family: 'Graduate', serif !important;
}

.home{
  width: 100%;
 
}
.hero{
  margin-top: 30px;
  background-image: url(https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/136156/Fans_clapping.jpg);
  height: 100vh;
  width: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  color: #409662;
  text-align: center;
}

p {
  color: #409662;
  text-align: center;
}

h3{
  color: #409662;
}

ul{
  list-style: none;
  text-align: left;
}
span {
  color: yellow;
  text-align: center;
  margin-left: 25px;
}
.nav {
  max-width: 1320px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100vh !important;
    
    .nav-item{
      width: 160px;
      text-align: center;
    
      .nav-link {
        color: #898989;;
        font-weight: 600;
        &:hover, &.active {
          background-color: #898989 !important;
          color: #000;
          font-weight: 600;
        }
      }
    }
}

.modal-content{
  border: 1px solid black;
  width: 400px;
  background-color: white;
  margin: 0 auto;
  h5{
    text-align: center;
  }
  .modal-footer{
    text-align: center;
    margin-bottom: 15px;
  }
  .btn-primary{
    background-color: yellow;
    border-radius: 10px;
    font-size: 13px;
    width: 150px;
    font-family: 'Graduate', serif !important;
    margin-right: 10px;
  }

  .btn-secondary{
    background-color: yellow;
    border-radius: 10px;
    font-size: 13px;
    width: 150px;
    font-family: 'Graduate', serif !important;
    margin-left: 10px;
  }
  input{
    width:300px;
    margin-left: 50px;
  }
}

.btn-primary{
  background-color: yellow;
  border-radius: 10px;
  font-size: 13px;
  width: 150px;
  font-family: 'Graduate', serif !important;
}
.card-body{
  margin-bottom: 15px;
}

.container {
  width: 100vh;
  margin: 0 auto;
}

.filters {
  display: flex;
  width: 100vh !important;
  margin: 0 auto;
}

select{
  height:20px;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.form-page {  
  form {
    margin-top: 40px;
    background-color: #409662;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    h1{
      color:black;
    }
    label{
      display: block;
      margin-left: 4px;
      padding-bottom: 5px;
    }
    input, textarea {
      width: 100%;
      margin-bottom: 15px;
      background-color: black;
      border: 1px solid rgba(0,0,0,0.2);
      padding: 5px;
      border-radius: 10px;
      color: grey;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px black inset;
      -webkit-text-fill-color: grey;
    }

    .btn {
      background-color: grey;
      color: black;
      font-weight: bold;
      width: 100px;
      margin-top: 10px;
    }
    

    button:enabled:active {
      background-color: #51BED3;;
      box-shadow: 0 0 2px darkslategray;
      transform: translateY(px);
    }

    .submitbtn {
      background-color: grey;
      color: black;
      font-weight: bold;
      width: 100px;
      margin: 0 auto;
      margin-top: 10px;
      border-radius: 4px;
      border: none;
    }


    a{
      color: pink;
    }

    .btnCenter {
      text-align: center;
    }
    
    .messageForm {
      width: 150px;
      flex: 0 0;
    }
  }
}
.spinner {
  height: 300px;
}


    .btnCenter {
      text-align: center;
    }
    
    .messageForm {
      width: 150px;
      flex: 0 0;
    }
  }
}